Repository jpanther/congo, pull requests merged in 2021-11, with the labels that each got.

#26 Fix spacing for pagination dates
  assets/css/compiled/main.css
  layouts/partials/article-pagination.html
Labels: bug

#27 Adding German localization (de i18n)
  i18n/de.yaml
Labels: i18n

#28 🌐 add pt_BR translation
  i18n/pt-BR.yaml
Labels: i18n

#30 :globe_with_meridians: Add es i18n
  i18n/es.yaml
Labels: i18n

#32 Fix pagination uses the date of current article; update zh i18n
  i18n/zh.yaml
  layouts/partials/article-pagination.html
Labels: bug, i18n

#37 :memo: add user
  exampleSite/content/users.md
Labels: documentation
