Repository jpanther/congo, pull requests merged in 2023-03, with the labels that each got.

#475 de.yaml: Translation for "Toot on Mastodon"
  i18n/de.yaml
Labels: i18n

#485 Add Russian language translation :ru:
  i18n/ru.yaml
Labels: i18n

#497 Add: Polish (pl) translation
  i18n/pl.yaml
Labels: i18n

#502 Fixes for Russian (ru) translation
  i18n/ru.yaml
Labels: i18n

#508 🐛 Fix broken `srcset` links when using hugo with `--minify` option
  layouts/_default/_markup/render-image.html
  layouts/_default/single.html
  layouts/partials/article-link.html
  layouts/shortcodes/figure.html
Labels: bug

#511 ✨ Respect `showDate` in search results
  assets/js/search.js
  layouts/_default/index.json
Labels: enhancement
